@import '~@/assets/styles/vars';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Signin Style
=======================================*/
#signin {
  margin-bottom: 40px;

  div#container {
    position: relative;
    @include box-shadow(0px, 15px, 34px, 0px, $shadow-color);
    border-radius: 25px;
    padding: 20px;
    background-color: $white-color;

    @media (max-width: 600px) {
      flex-basis: 90%;
      max-width: 90%;
    }

    #splash {
      background-image: url("~@/assets/multimedia/images/auth/signin.svg");
      background-position: 20px 20px;
      background-size: calc(100% - 20px) calc(100% - 20px);
      background-repeat: no-repeat;
      padding: 0 0 0 20px;

      @media (max-width: 1200px) {
        flex-basis: 240px;
        width: 240px !important;
        max-width: 240px;
        height: 180px;
      }

      @media (max-width: 960px) {
        display: none;
      }
    }

    #form {
      h2 {
        text-align: right;
        @include responsive-font-size(2rem,true);
      }

      #forgot {
        text-align: right;

        a {
          color: #000;
        }
      }

      .alert {
        border-radius: 10px;
        margin: 0 0 10px;
        padding: 10px 10px 12px;
        border-color: rgba(0, 0, 0, 0) !important;
      }

      .input-group.disabled {
        .input-group__details {
          min-height: 10px;
        }

        .icon--disabled {
          display: none;
        }
      }

      .input-group--text-field label {
        max-width: unset;
        text-align: right;
        transform-origin: top right;
      }

      .input-group--required label:after {
        content: "";
      }
      .input-group--error label:after {
        content: " *";
      }

      .input-group--text-field .input-group__counter {
        margin-left: unset;
        margin-right: auto;
      }

      #buttons {
        display: flex;
        flex-wrap: wrap;
        margin: 24px 0 0 0;

        #submit {
          margin: 0 0 0 auto;
          background: $grading-color;
          @include box-shadow(0px, 2px, 5px, 0px , $shadow-color);
          color: $white-color !important;
        }

        #submit:disabled {
          background: #D5D5D5;
          box-shadow: none;
          color: rgba(0, 0, 0, 0.5) !important;
        }

        #signup {
          display: inline-flex;
          flex: 0 1 auto;
          outline: 0;
          box-shadow: none;
          border: 1px solid #E0E0E0 !important;
          border-radius: 28px;
          margin: 0 auto 0 0;
          min-width: 88px;
          padding: 0 16px;
          justify-content: center;
          align-items: center;
          background-color: $white-color !important;
          color: #9E9E9E !important;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 14px;
          transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), color 1ms;
          user-select: none;
        }

        #submit, #signup {
          font-weight: 400;
          height: 40px;
          width: 45%;
          max-width: 180px;
          line-height: 0px;

          @media (max-width: 1200px) and (min-width: 960px) {
            width: auto;
          }

          @media (max-width: 768px) {
            margin: 0 auto 20px auto !important;
            width: 95%;
            max-width: 95%;
            height: 55px;
          }
        }

        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }
}
