@import '~@/assets/styles/vars';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Modules Style
=======================================*/
$padding: 0 0 15px 0;
$ar-padding: 0 15px 0 0;
$workshop-stepper-icon-size: 25px;
$stepper-line-width: 2px;
$drawer-group-item-height: 40px;
$stepper-group-item-padding: 10px;
$drawer-group-active-state: #74dad9;
$workshop-normal-state: #cdcdcd;
$stepper-group-item-fl-padding: 15px;

main.course-main-content,
main.courses-main-content {
   padding-top: $workshop-header-height !important;
}

html[dir='rtl'] {
   .courses {
      .navigation-drawer {
         .list {
            .stepper {
               .list__group {
                  .list__group__header {
                     padding: $ar-padding !important;

                     .list__tile {}
                  }

                  .list__group__items {
                     padding: $ar-padding !important;

                     div {
                        .list__tile {
                           .list__tile__action {
                              .icon {
                                 &::after,
                                 &::before {
                                    left: 0 !important;
                                    right: ($workshop-stepper-icon-size / 2) + $stepper-group-item-padding - ($stepper-line-width / 2) !important;
                                 }
                              }
                           }

                           a {
                              margin: $workshop-ar-margin !important;
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

.courses {
   .navigation-drawer {
      .list {
         .stepper {
            .list__group {
               // overflow: hidden !important;
               // height: $drawer-group-height !important;
               &::after,
               &::before {
                  background: none !important;
               }

               &.list__group--active {
                  // height: auto !important;
                  .list__group__header {}
               }

               &.active-state {
                  .list__group__header {
                     .list__tile {
                        .stepper__step {
                           .stepper__step__step {
                              background-color: $drawer-group-active-state !important;
                           }
                        }
                     }
                  }

                  .list__group__items {
                     .list__tile {
                        .list__tile__action {
                           &.topic-complete-state {
                              .icon {
                                 color: $workshop-complete-state !important;
                                 border-color: $workshop-complete-state !important;

                                 &::after {
                                    background: $drawer-group-active-state !important;
                                 }

                                 &::before {
                                    background: $workshop-complete-state !important;
                                 }
                              }
                           }

                           &.topic-all-complete-state {
                              .icon {
                                 color: $workshop-complete-state !important;
                                 border-color: $workshop-complete-state !important;

                                 &::after,
                                 &::before {
                                    background: $workshop-complete-state !important;
                                 }
                              }
                           }

                           &.topic-active-state {
                              .icon {
                                 color: $drawer-group-active-state !important;
                                 border-color: $drawer-group-active-state !important;

                                 &::before {
                                    background: $drawer-group-active-state !important;
                                 }
                              }
                           }
                        }
                     }
                  }
               }

               &.complete-state {
                  .list__group__header {
                     .list__tile {
                        .stepper__step {
                           .stepper__step__step {
                              background-color: $workshop-complete-state !important;
                           }
                        }
                     }
                  }

                  .list__group__items {
                     .list__tile {
                        .list__tile__action {
                           .icon {
                              color: $workshop-complete-state !important;
                              border-color: $workshop-complete-state !important;

                              &::after,
                              &::before {
                                 background: $workshop-complete-state !important;
                              }
                           }
                        }
                     }
                  }
               }

               .list__group__header {
                  padding: $padding !important;
                  background: $white-color !important;
                  height: $drawer-group-height !important;
                  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12) !important;

                  &:hover {
                     background: $white-color !important;
                  }

                  .list__tile {
                     padding: 0 !important;
                     height: 100% !important;
                  }

                  .list__group__header__append-icon {
                     .icon {
                        font-size: 25px !important;
                        color: $secondary-color !important;
                     }
                  }
               }

               .list__group__items {
                  // height: auto !important;
                  padding: $padding !important;
                  // background: $workshop-drawer-background !important;
                  div {
                     &:first-child {
                        .list__tile {
                           height: auto !important;
                           padding-top: $stepper-group-item-fl-padding !important;

                           .list__tile__action {
                              .icon {
                                 &::before {
                                    height: ($drawer-group-item-height - $workshop-stepper-icon-size) /2 + ($stepper-group-item-fl-padding) !important;
                                 }
                              }
                           }
                        }
                     }

                     &:last-child {
                        .list__tile {
                           height: auto !important;
                           padding-bottom: $stepper-group-item-fl-padding !important;

                           .list__tile__action {
                              .icon {
                                 &::after {
                                    height: ($drawer-group-item-height - $workshop-stepper-icon-size) /2 + ($stepper-group-item-fl-padding) !important;
                                 }
                              }
                           }
                        }
                     }

                     .list__tile {
                        height: $drawer-group-item-height !important;
                        padding: 0 $stepper-group-item-padding !important;

                        .list__tile__action {
                           width: $workshop-stepper-icon-size !important;
                           min-width: $workshop-stepper-icon-size !important;
                           max-width: $workshop-stepper-icon-size !important;

                           .icon {
                              border-radius: 50% !important;
                              background: $white-color !important;
                              width: $workshop-stepper-icon-size !important;
                              height: $workshop-stepper-icon-size !important;
                              color: $workshop-normal-state !important;
                              font-size: $workshop-stepper-icon-size / 2 !important;
                              border: 2px dashed $workshop-normal-state !important;

                              &::after,
                              &::before {
                                 right: 0 !important;
                                 content: "" !important;
                                 display: block !important;
                                 position: absolute !important;
                                 width: $stepper-line-width !important;
                                 background: $workshop-normal-state !important;
                                 height: ($drawer-group-item-height - $workshop-stepper-icon-size) /2 !important;
                                 left: ($workshop-stepper-icon-size / 2) + $stepper-group-item-padding - ($stepper-line-width / 2) !important;
                              }

                              &::before {
                                 top: 0 !important;
                              }

                              &::after {
                                 bottom: 0 !important;
                              }
                           }
                        }

                        a {
                           width: 100% !important;
                           font-size: 14px !important;
                           margin: $workshop-margin !important;
                           color: $black-color !important;
                           height: $drawer-group-item-height !important;
                           line-height: $drawer-group-item-height !important;
                        }
                     }
                  }
               }
            }
         }
      }
   }

   .content {
      margin: 0 !important;
      padding: 0 !important;
      border-left: 0 !important;
      transition: none !important;
      background: $white-color !important;

      > div {
         width: 100% !important;
         height: 100% !important;
         transition: none !important;
         user-select: text !important;
         overflow-y: scroll !important;
         overflow-x: hidden !important;
         padding: 40px 50px !important;
      }
   }
}
