@import '~@/assets/styles/vars';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Congratulations Style
=======================================*/
#congratulations {
  padding-bottom: 80px;

  div#container {
    position: relative;
    @include box-shadow(0px, 15px, 34px, 0px, $shadow-color);
    border-radius: 25px;
    padding: 20px;
    background: $white-color;

    @media (max-width: 600px) {
      flex-basis: 90%;
      max-width: 90%;
    }

    #splash {
      background-image: url("~@/assets/multimedia/images/auth/email.svg");
      background-position: center top;
      background-size: contain;
      background-repeat: no-repeat;
      padding: 20px;

      @media (max-width: 959px) {
        display: none;
      }
    }

    #form {
      padding: 20px;

      @media (max-width: 959px) {
        padding: 0 20px;
      }

      h2 {
        text-align: right;
        @include responsive-font-size(1.5rem,true);
      }

      #submit {
        float: left;
        margin: 0 0 0 auto;
        background: $grading-color;
        @include box-shadow(0px, 2px, 5px, 0px , $shadow-color);
        color: $white-color !important;

        font-weight: 400;
        height: 40px;
        width: 200px;
        line-height: 0px;

        @media (max-width: 959px) {
          margin: 0 auto !important;
          width: 100%;
          max-width: 100%;
        }
      }

      #submit:disabled {
        background: #D5D5D5;
        box-shadow: none;
        color: rgba(0, 0, 0, 0.5) !important;
      }
    }
  }
}
