@import '~@/assets/styles/vars';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Workshop Style
=======================================*/
$card: (
   height: 80px,
   icon-size: 25px,
   margin-bottom: 10px
);
$card1: (
   text: (margin: 0 0 3px 5px, ar-margin: 0 5px 3px 0,font-size:14px)
);
$card2: (
   part1: (margin-bottom: 20px),
   part2: (toolbar: (height: 30px, padding: 0 10px, progress-border-raduis: 50px))
);
$card3: (
   margin-bottom: 8px,
   text-font-size: 14px
);
$workshop-drawer-width: 100%;

html[dir='rtl'] {
   .workshop {
      .card {
         &:nth-child(1) {
            .text {
               div {
                  margin: map-deep-get($card1,'text','margin') !important;
               }
            }
         }

         &:nth-child(2) {
            .navigation-drawer {
               border-width: 0 1px 0 0 !important;
            }
         }
      }
   }
}

.workshop {
   .card {
      padding: 10px !important;
      overflow: hidden !important;
      border-radius: 8px !important;
      height: map-deep-get($card,'height') !important;
      margin-bottom: map-deep-get($card,'margin-bottom') !important;

      .container {
         height: 100% !important;

         .layout {
            margin: 0 !important;
            height: 100% !important;
         }
      }

      &:nth-child(1) {
         .btn {
            width: 60% !important;
            font-weight: 700 !important;
            background: $grading-color !important;
         }

         .icon {
            img {
               width: map-deep-get($card,'icon-size') !important;
               height: map-deep-get($card,'icon-size') !important;
            }
         }

         .text {
            div {
               font-weight: 700 !important;
               margin: map-deep-get($card1,'text','margin') !important;

               &:nth-child(1) {
                  color: var(--workshop-normal-state) !important;
                  font-size: map-deep-get($card1,'text','font-size') - 2px !important;
               }

               &:nth-child(2) {
                  color: $black-color !important;
                  font-size: map-deep-get($card1,'text','font-size') !important;
               }
            }
         }
      }

      &:nth-child(2) {
         padding: 0 !important;
         height: calc(100% - #{map-deep-get($card,'height') * 2} - #{map-deep-get($card,'margin-bottom') * 2}) !important;

         .flex:nth-child(1) {
            padding: 35px 50px !important;

            .title {
               font-size: 15px !important;
               font-weight: 700 !important;
               color: $black-color !important;
               margin-bottom: map-deep-get($card2,'part1','margin-bottom') !important;
            }

            p {
               line-height: 1.5 !important;
               font-weight: normal !important;
               margin-bottom: map-deep-get($card2,'part1','margin-bottom') !important;
            }

            .chips {
               margin-bottom: map-deep-get($card2,'part1','margin-bottom') !important;

               .chip {
                  padding: 0 5px !important;
                  font-size: 14px !important;
                  font-weight: 700 !important;
                  pointer-events: none !important;
                  @include font-family('en',true);
                  background: $white-color !important;
                  color: var(--workshop-normal-state) !important;
                  border: 2px solid var(--workshop-normal-state) !important;
               }
            }

            .btn {
               font-weight: 700 !important;
               color: $white-color !important;
               background: $black-color !important;
            }
         }

         .navigation-drawer {
            height: 100% !important;
            box-shadow: none !important;
            overflow: hidden !important;
            border-style: solid !important;
            border-width: 0 0 0 1px !important;
            border-color: $shadow-color !important;
            width: $workshop-drawer-width !important;
            background: $workshop-drawer-background !important;

            .navigation-drawer__border {
               display: none !important;
            }

            .toolbar {
               height: auto !important;
               padding: 20px !important;
               background: $white-color !important;
               border-bottom: 1px solid $shadow-color !important;

               .toolbar__content {
                  height: map-deep-get($card2,'part2','toolbar','height') !important;
                  min-height: map-deep-get($card2,'part2','toolbar','height') !important;
                  max-height: map-deep-get($card2,'part2','toolbar','height') !important;

                  progress {
                     width: 100% !important;
                     height: 100% !important;
                     direction: ltr !important;
                     position: relative !important;
                     @include appearance(none,true);

                     &::after {
                        content: attr(data-value);
                        font-size: 14px !important;
                        @include center(false,true);
                        font-weight: 600 !important;
                        position: absolute !important;
                        color: $black-color !important;
                        @include font-family('ar',true);
                     }
                     // &::-moz-progress-bar,
                     &::-webkit-progress-bar {
                        box-shadow: 0 2px 3px $shadow-color inset !important;
                        background-color: $workshop-drawer-background !important;
                        border-radius: map-deep-get($card2,'part2','toolbar','progress-border-raduis') !important;
                     }

                     &::-webkit-progress-value {
                        background-color: var(--workshop-active-state) !important;
                        border-radius: map-deep-get($card2,'part2','toolbar','progress-border-raduis') !important;
                     }
                  }
               }
            }
         }
      }

      &:nth-child(3) {
         margin-bottom: 0 !important;

         .icon {
            img {
               width: map-deep-get($card,'height') !important;
               height: map-deep-get($card,'height') !important;
            }
         }

         .text {
            div {
               font-weight: 700 !important;

               &:nth-child(1) {
                  color: $black-color !important;
                  margin-bottom: map-deep-get($card3,'margin-bottom') !important;
                  font-size: map-deep-get($card3,'text-font-size') - 2px !important;
               }

               &:nth-child(2) {
                  font-weight: normal !important;
                  color: rgba($black-color,0.8) !important;
                  font-size: map-deep-get($card3,'text-font-size') !important;

                  a {
                     text-decoration: underline !important;
                     color: var(--workshop-active-state) !important;
                  }
               }
            }
         }
      }
   }
}
