@import '~@/assets/styles/vars';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Lesson Style
=======================================*/
$lesson: (
   video: (tab:(margin:10px 15px 0 30px,ar-margin:10px 30px 0 15px,content:(height:150px, padding:20px 40px 20px 80px, ar-padding:20px 80px 20px 40px),slider-height:2px,height:60px,min-width:130px,font-size:12px,icon-size:20px))
);
$markdown-list-padding: 5em;
$markdown-spacer: 10px !default;
$markdown-spacers: (
   0,
   round($markdown-spacer / 2),
   $markdown-spacer,
   $markdown-spacer * 2,
   $markdown-spacer * 3,
   $markdown-spacer * 4,
   $markdown-spacer * 5
)
!default; // Aliases for easy use
$markdown-spacer-1: nth($markdown-spacers, 2) !default;
$markdown-spacer-2: nth($markdown-spacers, 3) !default;
$markdown-spacer-3: nth($markdown-spacers, 4) !default;
$markdown-spacer-4: nth($markdown-spacers, 5) !default;
$markdown-spacer-5: nth($markdown-spacers, 6) !default;
$markdown-spacer-6: nth($markdown-spacers, 7) !default;
$markdown-em-spacer-1: 0.0625em !default;
$markdown-em-spacer-2: 0.125em !default;
$markdown-em-spacer-3: 0.25em !default;
$markdown-em-spacer-4: 0.375em !default;
$markdown-em-spacer-5: 0.5em !default;
$markdown-em-spacer-6: 0.75em !default;

.lesson {
  #have-question {
    img {
      margin: 25px 0 25px 25px;
      width: 50px;
    }
  }
   .lesson-quiz {
      $check_color: #5955e9;
      $lite_grey: #727272;
      $hint_icon_color: #f89f2c;
      $error_color: #cc5a5a;

      .stepper__step__step {
         font-size: 0;
      }

      .stepper__step.stepper__step .stepper__step__step::after {
        font-family: 'Material Icons';
        content: 'star';
        font-size: 20px;
        color: #fff;
      }

      .stepper__step.stepper__step--active .stepper__step__step {
         background: #6ad6d6 !important;
      }

      .stepper__step.stepper__step--complete .stepper__step__step,
      .stepper__step.stepper__step--inactive .stepper__step__step {
         background: #c2c7cb !important;
      }

      .stepper__step__step i {
        display: none;
      }
      
      .stepper__step.stepper__step.wrong_step {
        .stepper__step__step {
          background: $error_color !important;
        }
        
        .stepper__step__step::after {
          content: 'close';
        }
      }

      .stepper__step.stepper__step.true_step {
        .stepper__step__step {
          background: $check_color !important;
        }

        .stepper__step__step::after {
          content: 'check';
        }
      }

      .stepper {
        border-radius: 15px !important;
        font-family: 'Droid Arabic Kufi' , Arial, Helvetica, sans-serif;

        .stepper__header {
          box-shadow: 0 1px 0 #dcdcdc;
          background-color: #fcfcfc !important;

          .divider {
            background: #e6e6e6 !important;
          }
        }

        .stepper__items {
          .card--flat {
            padding: 0;
            border: 0 !important;
          }
        }

        .stepper__content {
          font-family: 'Droid Arabic Kufi' , Arial, Helvetica, sans-serif;
          padding: 0;

          .stepper__wrapper {
            .card--flat {
              padding: 0;
              background-color: #fff !important;
            }
          }

          .list {
            margin-top: -1px;
            padding: 0;

            & > div {
              position: relative;
              z-index: 1;
              
              &.true_answer {
                z-index: 2;
                box-shadow: 0 0 10px #dad6d6;
                background-color: #fff;
        
                .checkbox_cont {
                    border-color: #57c881 !important;
                }
        
                .checkbox_inner {
                    background: transparent !important;
                }
        
                .checkbox_inner::after {
                  font-family: 'Material Icons';
                  content: 'check';
                  display: block;
                  position: relative;
                  margin-top: 1px;
                  font-size: 22px;
                  color: #57c881;
                }

                & > .list__tile--link {
                  border-bottom-width: 1px;
                }
              }
        
              &.wrong_answer {
                z-index: 2;
                box-shadow: 0 0 10px #dad6d6;
                background-color: #fff;
        
                .checkbox_cont {
                    border-color: $error_color !important;
                }
        
                .checkbox_inner {
                    background: transparent !important;
                }
        
                .checkbox_inner::after {
                  font-family: 'Material Icons';
                  content: 'close';
                  display: block;
                  position: relative;
                  margin-top: 1px;
                  margin-left: .5px;
                  font-size: 22px;
                  color: $error_color;
                }
                
                & > .list__tile--link {
                  border-bottom-width: 1px;
                }
              }

              .list__tile {
                height: 64px;
              }

              .list__tile--link {
                background-color: #fdfdfd;
                border-top: 1px solid #e7e7e7;
                border-bottom: 0px solid #e7e7e7;
              }

              &:last-of-type {
                .list__tile--link {
                  border-bottom-width: 1px;
                }
              }
            }
            
              input[type=checkbox] {
                display: none;
              }

              .checkbox_cont {
                width: 1.7rem;
                height: 1.7rem;
                border: 1px solid #a2a2a2;
                position: relative;
                margin: auto;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .checkbox_inner {
                width: 1rem;
                height: 1rem;
                background: #496a8a;
                position: absolute;
                border-radius: 50%;
              }
          }

          .divider {
              margin-top: 1px !important;
              margin-bottom: 1px !important;
          }

          .hint-container {
              font-family: 'Droid Arabic Kufi' , Arial, Helvetica, sans-serif;
              color: #8d8d8d;
              @include rfs(18);
              margin-top: 20px;
              padding: 15px 25px;
          }

          .circle {
              display: inline-flex;
              background: $hint_icon_color;
              border-radius: 50%;
              padding: 6px;
              justify-content: center;
              align-items: center;
              position: relative;
              cursor: pointer;
          }

          .hint_bold {
              color: $hint_icon_color;
              @include rfs(20);
          }
        }

        .stepper__content.checkboxes {
          .checkbox_cont {
            border-radius: 0 !important;
          }

          .checkbox_inner {
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 0 !important;
            background: #496a8a !important;
          }

          .checkbox_inner::after {
            font-family: 'Material Icons';
            content: 'check';
            display: block;
            margin: auto;
            color: #fff;
            font-size: 22px;
          }
        }
      }

      .quizz-layout {
         direction: ltr;
      }

      .quizz-stepper {
         direction: rtl;
      }

      .stepper__content .input-group__input {
         color: $check_color !important;
      }

      .list__tile__title {
        text-align: right;
        color: $lite_grey;
      }

      .question-content {
         color: #5c6c7c;
         @include rfs(18);
         padding: 20px 24px;
      }

      .question-num {
        color: #8d8d8d;
        @include rfs(15);
        margin: 0;
        padding: 15px 25px !important;
        background: #fff;
      }

      .btns-control {
        overflow: auto;
        padding: 20px 0 !important;
        background-color: #fff !important;

        .r-btn {
          border-radius: 20px !important;
          background: #496a8a !important;
          color: snow;
          font-weight: 600;
          position: relative !important;
          left: 1.6rem;
          float: left;
          padding-bottom: 20px !important;
        }

        .r-white {
          background: transparent !important;
          color: #a0a0a0;
          border: 1px solid #a0a0a0;
        }

         .r-btn.btn.btn--disabled {
            color: #fff !important;
            background: #7591ae !important;
         }

         span.result-container {
            padding-bottom: 0 !important;

            .err {
               color: $error_color !important;
            }
            @include rfs(20);
            display: inline-block;
            margin: 0 24px !important;
            padding: 10px 0 0;

            .result {
               font-weight: 600;
               padding-left: 10px;
               color: #5a5a5a;
            }
         }
      }

      .true_answer_checkbox {
        box-shadow: 0 2px 8px #dad6d6;

        .checkbox_cont {
          border-color: #57c881 !important;
          overflow: hidden !important;
        }

        .checkbox_inner::after {
          background: #57c881 !important;
        }
      }
   }

   .lesson-video {
      height: 88% !important;

      &.lesson-scrimba {}

      &.lesson-youtube {}

      iframe {
         width: 100% !important;
         height: 100% !important;
         // height: calc(100% - #{map-deep-get($lesson,'video','tab','height') + getValue(map-deep-get($lesson,'video','tab','margin'),'top',true) + getValue(map-deep-get($lesson,'video','tab','margin'),'bottom',true) + map-deep-get($lesson,'video','tab','content','height')}) !important;
         // height: calc(100% - #{map-deep-get($lesson,'video','tab','height') + getValue(map-deep-get($lesson,'video','tab','margin'),'top',true) + getValue(map-deep-get($lesson,'video','tab','margin'),'bottom',true) map-deep-get($lesson,'video','tab','content','height') + getValue(map-deep-get($lesson,'video','tab','content','padding'),'top',true) + getValue(map-deep-get($lesson,'video','tab','content','padding'),'bottom',true)}) !important;
      }

      .tabs {
         margin: map-deep-get($lesson,'video','tab','margin') !important;

         .tabs__bar {
            background-color: $workshop-content-background !important;

            .tabs__wrapper {
               .tabs__container {
                  padding: 0 !important;
                  height: map-deep-get($lesson,'video','tab','height') !important;

                  &::before {
                     bottom: 0 !important;
                     width: 100% !important;
                     content: '' !important;
                     opacity: 0.7 !important;
                     position: absolute !important;
                     border-color: $secondary-color !important;
                     background-color: $secondary-color !important;
                     height: map-deep-get($lesson,'video','tab','slider-height') !important;
                  }

                  .tabs__slider-wrapper {
                     .tabs__slider {
                        border-color: $black-color !important;
                        background-color: $black-color !important;
                     }
                  }

                  .tabs__div {
                     margin: 0 !important;
                     font-weight: 700 !important;
                     color: $black-color !important;
                     min-width: map-deep-get($lesson,'video','tab','min-width') !important;

                     .tabs__item {
                        padding: 0 !important;
                        font-size: map-deep-get($lesson,'video','tab','font-size') !important;

                        &.tabs__item--active {}

                        .icon {
                           margin: 0 !important;
                           font-size: map-deep-get($lesson,'video','tab','icon-size') !important;
                        }
                     }
                  }
               }
            }
         }
      }

      .tabs__items {
         height: auto !important;
         // height: map-deep-get($lesson,'video','tab','content','height') !important;
         padding: map-deep-get($lesson,'video','tab','content','padding') !important;
         // max-height: map-deep-get($lesson,'video','tab','content','height') !important;
         // min-height: map-deep-get($lesson,'video','tab','content','height') !important;
      }
   }

   .lesson-markdown,
   .lesson-task {
      padding: 20px !important;
      word-wrap: break-word !important;

      > *:first-child {
         margin-top: 0 !important;
      }

      > *:last-child {
         margin-bottom: 0 !important;
      }

      a:not([href]) {
         color: inherit !important;
         text-decoration: none !important;
      }

      a {
         font-weight: 700 !important;
      }

      blockquote,
      dl,
      ol,
      p,
      pre,
      table,
      ul {
         margin-top: 0 !important;
         margin-bottom: $markdown-spacer-3 !important;
      }

      hr {
         border: 0 !important;
         padding: 0 !important;
         background-color: #bef5cb !important;
         margin: $markdown-spacer-4 0 !important;
         height: $markdown-em-spacer-3 !important;
      }

      blockquote {
         display: flex !important;
         width: fit-content !important;
         align-items: center !important;
         color: $black-color !important;
         margin: $markdown-spacer-6 auto !important;
         border: 1px solid $secondary-color !important;
         border-left: 10px solid $secondary-color !important;
         padding: $markdown-spacer-2 $markdown-spacer-2 !important;
         @include box-shadow(0px, 15px, 34px, 0px, $shadow-color,true);

         .quotes {
            height: 80px !important;
            display: flex !important;

            .material-icons {
               font-size: 40px !important;
            }

            &:first-child {
               flex-direction: column-reverse !important;
            }

            &:last-child {
               flex-direction: column !important;
            }
         }

         p {
            width: 100% !important;
            padding-bottom: 0 !important;
            text-align: center !important;
            margin: 0 $markdown-spacer-6 !important;
         }
      }

      kbd {
         color: #176f2c !important;
         font-size: 11px !important;
         padding: 3px 5px !important;
         line-height: 10px !important;
         border-radius: 3px !important;
         display: inline-block !important;
         vertical-align: middle !important;
         background-color: #f0fff4 !important;
         border-bottom-color: #34d058 !important;
         box-shadow: inset 0 -1px 0 #34d058 !important;
         border: solid 1px darken(#85e89d, 4%) !important;
      }

      ul {
         list-style: none !important;
      }

      ul ul {
         list-style: disc !important;
      }

      ol {
         padding-left: $markdown-list-padding !important;
      }

      ol ol,
      ol ul,
      ul ol,
      ul ul {
         margin-top: 0 !important;
         margin-bottom: 0 !important;
         padding-left: $markdown-list-padding !important;
      }

      li {
         word-wrap: break-all !important;
      }

      li > p {
         margin-top: $markdown-spacer-3 !important;
      }

      li + li {
         margin-top: $markdown-em-spacer-3 !important;
      }

      dl {
         padding: 0;

         dt {
            padding: 0 !important;
            font-size: 1em !important;
            font-weight: 700 !important;
            font-style: italic !important;
            margin-top: $markdown-spacer-3 !important;
         }

         dd {
            padding: 0 $markdown-spacer-3 !important;
            margin-bottom: $markdown-spacer-3 !important;
         }
      }

      iframe,
      img {
         display: block !important;
         max-width: 100% !important;
         background-color: $white-color !important;
         // @include responsive-ratio(16,9);
         margin: $markdown-spacer-3 auto !important;
      }

      table {
         width: 100% !important;
         overflow: auto !important;
         display: block !important;

         th {
            font-weight: 700 !important;
         }

         td,
         th {
            padding: 6px 13px !important;
            border: 1px solid lighten(#85e89d, 5%) !important;
         }

         tr {
            background-color: $white-color !important;
            border-top: 1px solid darken(#85e89d, 4%) !important;

            &:nth-child(2n) {
               background-color: #dcffe4 !important;
            }
         }

         img {
            background-color: transparent !important;
         }
      }

      code:after,
      code:before,
      kbd:after,
      kbd:before {
         content: '' !important;
         letter-spacing: 0 !important;
      }

      pre {
         overflow: auto !important;
         direction: ltr !important;
         text-align: left !important;
         line-height: 1.5 !important;
         word-wrap: normal !important;
         max-height: 300px !important;
         height: fit-content !important;
         background: $white-color !important;
         padding: $markdown-spacer-3 !important;
         margin: $markdown-spacer-6 auto !important;
         font-family: 'Open Sans Condensed' !important;
         border: 2px dashed $secondary-color !important;
         @include box-shadow(0px, 15px, 34px, 0px, $shadow-color,true);

         pre {
            border: 0 !important;
            margin: 0 !important;
            padding: 0 !important;
            height: auto !important;
            overflow: visible !important;
            box-shadow: none !important;
            max-height: none !important;
         }

         > code {
            box-shadow: none !important;
            word-break: normal !important;
         }

         code,
         tt {
            margin: 0 !important;
            border: 0 !important;
            padding: 0 !important;
            display: inline !important;
            font-size: 14px !important;
            max-width: 100% !important;
            font-weight: 700 !important;
            line-height: 1.5 !important;
            box-shadow: none !important;
            overflow: visible !important;
            word-wrap: normal !important;
            line-height: inherit !important;
            background-color: transparent !important;
         }
      }

      .hljs {
         display: block;
         overflow-x: auto;
         padding: 0.5em;
         color: #333;
         background: #f8f8f8;
         line-height: 20px;
      }

      .hljs.python pre {
         padding-left: 30px;
      }

      .hljs.python .hljs-function {
         display: inline-block;
         padding-top: 20px;
      }

      .hljs-comment,
      .hljs-quote {
         color: #998;
         font-style: italic;
      }

      .hljs-keyword,
      .hljs-selector-tag,
      .hljs-subst {
         color: #333;
         font-weight: 700;
      }

      .hljs-literal,
      .hljs-number,
      .hljs-tag .hljs-attr,
      .hljs-template-variable,
      .hljs-variable {
         color: teal;
      }

      .hljs-doctag,
      .hljs-string {
         color: #d14;
      }

      .hljs-section,
      .hljs-selector-id,
      .hljs-title {
         color: #900;
         font-weight: 700;
      }

      .hljs-subst {
         font-weight: 400;
      }

      .hljs-class .hljs-title,
      .hljs-type {
         color: #458;
         font-weight: 700;
      }

      .hljs-attribute,
      .hljs-name,
      .hljs-tag {
         color: navy;
         font-weight: 400;
      }

      .hljs-meta,
      .hljs-strong {
         font-weight: 700;
      }

      .hljs-link,
      .hljs-regexp {
         color: #009926;
      }

      .hljs-bullet,
      .hljs-symbol {
         color: #990073;
      }

      .hljs-built_in,
      .hljs-builtin-name {
         color: #0086b3;
      }

      .hljs-meta {
         color: #999;
      }

      .hljs-deletion {
         background: #fdd;
      }

      .hljs-addition {
         background: #dfd;
      }

      .hljs-emphasis {
         font-style: italic;
      }
   }
}

html[dir='rtl'] {
   .lesson {
      .lesson-video {
         .tabs {
            margin: map-deep-get($lesson,'video','tab','ar-margin') !important;
         }

         .tabs__items {
            padding: map-deep-get($lesson,'video','tab','content','ar-padding') !important;
         }
      }

      .lesson-markdown, .lesson-task {
         ol {
            padding-right: $markdown-list-padding;
         }

         ol ol,
         ol ul,
         ul ol,
         ul ul {
            padding-right: $markdown-list-padding;
         }

         blockquote {
            border: 1px solid $secondary-color !important;
            border-right: 10px solid $secondary-color !important;

            .quotes {
               &:first-child {
                  flex-direction: column !important;
               }

               &:last-child {
                  flex-direction: column-reverse !important;
               }
            }
         }
      }
   }
}
