@import '~@/assets/styles/vars';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Courses Style
=======================================*/
$margin: 0 0 0 20px;
$drawer-width: 300px;
$padding: 0 0 15px 0;
$toolbar-height: 50px;
$ar-margin: 0 20px 0 0;
$ar-padding: 0 15px 0 0;
$toolbar-padding: 0 15px;
$stepper-icon-size: 25px;
$drawer-group-height: 45px;
$drawer-group-item-height: 40px;
$stepper-group-item-padding: 10px;
$drawer-group-active-state: #74dad9;
$drawer-group-normal-state: #cdcdcd;
$stepper-group-item-fl-padding: 15px;
$drawer-group-complete-state: #7d68df;

main.course-main-content,
main.courses-main-content {
   padding-top: $toolbar-height !important;
}

html[dir='rtl'] {
   .courses {
      .navigation-drawer {
         .toolbar {
            padding: $ar-padding !important;
         }

         .list {
            .stepper {
               .list__group {
                  .list__group__header {
                     padding: $ar-padding !important;

                     .list__tile {
                        .stepper__step {
                           .stepper__label {
                              margin: $ar-margin !important;
                           }
                        }
                     }
                  }

                  .list__group__items {
                     padding: $ar-padding !important;

                     div .list__tile {
                        a {
                           margin: $ar-margin !important;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

.courses {
   height: 100% !important;
   overflow: hidden !important;
   position: relative !important;
   background: $white-color !important;

   > .toolbar {
      height: $toolbar-height !important;
      line-height: $toolbar-height !important;

      .toolbar__content {
         height: $toolbar-height !important;
         padding: $toolbar-padding !important;
         line-height: $toolbar-height !important;

         .toolbar__title {
            font-size: 16px !important;
            font-weight: bold !important;
            color: $black-color !important;
         }

         .brand-logo {
            background: #f4f4f4 !important;
            width: $toolbar-height / 1.6 !important;
            height: $toolbar-height / 1.6 !important;

            a {
               width: $toolbar-height / 1.6 !important;
               height: $toolbar-height / 1.6 !important;

               img {
                  width: $toolbar-height / 2 !important;
                  height: $toolbar-height / 2 !important;
               }
            }
         }

         .btn {
            color: $primary-color !important;
            width: $toolbar-height / 2 !important;
            height: $toolbar-height / 2 !important;

            .icon {
               width: $toolbar-height / 2 !important;
               height: $toolbar-height / 2 !important;
               font-size: ($toolbar-height / 2) / ($toolbar-height / 3) !important;
            }
         }
      }
   }

   .navigation-drawer {
      height: 100vh !important;
      overflow: hidden !important;
      width: $drawer-width !important;
      background: $white-color !important;

      .toolbar {
         height: auto !important;
         padding: $padding !important;
         min-height: $toolbar-height !important;
         max-height: $toolbar-height !important;
         background: linear-gradient(to left, rgba(45,67,231,1), rgba(144,66,232,1)) !important;

         .toolbar__content {
            height: auto !important;
            min-height: $toolbar-height !important;
            max-height: $toolbar-height !important;

            .btn {
               width: 25px !important;
               height: 25px !important;
               background: #393ba8 !important;

               .icon {
                  width: 25px !important;
                  height: 25px !important;
                  font-size: 25px !important;
               }
            }

            .toolbar__title {
               font-size: 16px !important;
               font-weight: bold !important;
               color: $white-color !important;
            }
         }
      }

      .list {
         overflow-y: auto !important;
         height: calc(100vh - #{$toolbar-height}) !important;

         .stepper {
            box-shadow: none !important;
            height: calc(100vh - #{$toolbar-height}) !important;

            .list__group {
               overflow: hidden !important;
               height: $drawer-group-height !important;

               &::after,
               &::before {
                  height: 0 !important;
               }

               &.list__group--active {
                  height: auto !important;

                  .list__group__header {}
               }

               &.active-state {
                  .list__group__header {
                     .list__tile {
                        .stepper__step {
                           .stepper__step__step {
                              background-color: $drawer-group-active-state !important;
                           }
                        }
                     }
                  }

                  .list__group__items {
                     .list__tile {
                        .list__tile__action {
                           &.topic-complete-state {
                              .icon {
                                 color: $drawer-group-complete-state !important;
                                 border-color: $drawer-group-complete-state !important;

                                 &::after {
                                    background: $drawer-group-active-state !important;
                                 }

                                 &::before {
                                    background: $drawer-group-complete-state !important;
                                 }
                              }
                           }

                           &.topic-all-complete-state {
                              .icon {
                                 color: $drawer-group-complete-state !important;
                                 border-color: $drawer-group-complete-state !important;

                                 &::after,
                                 &::before {
                                    background: $drawer-group-complete-state !important;
                                 }
                              }
                           }

                           &.topic-active-state {
                              .icon {
                                 color: $drawer-group-active-state !important;
                                 border-color: $drawer-group-active-state !important;

                                 &::before {
                                    background: $drawer-group-active-state !important;
                                 }
                              }
                           }
                        }
                     }
                  }
               }

               &.complete-state {
                  .list__group__header {
                     .list__tile {
                        .stepper__step {
                           .stepper__step__step {
                              background-color: $drawer-group-complete-state !important;
                           }
                        }
                     }
                  }

                  .list__group__items {
                     .list__tile {
                        .list__tile__action {
                           .icon {
                              color: $drawer-group-complete-state !important;
                              border-color: $drawer-group-complete-state !important;

                              &::after,
                              &::before {
                                 background: $drawer-group-complete-state !important;
                              }
                           }
                        }
                     }
                  }
               }

               .list__group__header {
                  overflow: visible !important;
                  padding: $padding !important;
                  height: $drawer-group-height !important;
                  border-bottom: 2px solid rgba($black-color,.12) !important;

                  &:hover {
                     background: none !important;
                  }

                  .list__tile {
                     padding: 0 !important;
                     height: 100% !important;

                     .stepper__step {
                        padding: 0 !important;
                        z-index: 1 !important;
                        width: 100% !important;
                        pointer-events: none !important;
                        height: $drawer-group-height !important;

                        .stepper__step__step {
                           font-size: 14px !important;
                           font-family: 'Open Sans Condensed' !important;
                           background-color: $drawer-group-normal-state !important;
                        }

                        .stepper__label {
                           font-size: 14px !important;
                           margin: $margin !important;
                           color: $black-color !important;
                        }
                     }
                  }

                  .list__group__header__append-icon {
                     .icon {
                        font-size: 25px !important;
                        color: $secondary-color !important;
                     }
                  }
               }

               .list__group__items {
                  height: auto !important;
                  padding: $padding !important;
                  background: #fafafa !important;

                  div {
                     &:first-child {
                        .list__tile {
                           height: auto !important;
                           padding-top: $stepper-group-item-fl-padding !important;

                           .list__tile__action {
                              .icon {
                                 &::before {
                                    height: ($drawer-group-item-height - $stepper-icon-size) /2 + ($stepper-group-item-fl-padding) !important;
                                 }
                              }
                           }
                        }
                     }

                     &:last-child {
                        .list__tile {
                           height: auto !important;
                           padding-bottom: $stepper-group-item-fl-padding !important;

                           .list__tile__action {
                              .icon {
                                 &::after {
                                    height: ($drawer-group-item-height - $stepper-icon-size) /2 + ($stepper-group-item-fl-padding) !important;
                                 }
                              }
                           }
                        }
                     }

                     .list__tile {
                        height: $drawer-group-item-height !important;
                        padding: 0 $stepper-group-item-padding !important;

                        .list__tile__action {
                           width: $stepper-icon-size !important;
                           min-width: $stepper-icon-size !important;
                           max-width: $stepper-icon-size !important;

                           .icon {
                              border-radius: 50% !important;
                              background: $white-color !important;
                              width: $stepper-icon-size !important;
                              height: $stepper-icon-size !important;
                              color: $drawer-group-normal-state !important;
                              font-size: $stepper-icon-size / 2 !important;
                              border: 2px dashed $drawer-group-normal-state !important;

                              &::after,
                              &::before {
                                 width: 2px !important;
                                 content: "" !important;
                                 position: absolute !important;
                                 background: $drawer-group-normal-state !important;
                                 height: ($drawer-group-item-height - $stepper-icon-size) /2 !important;
                                 // right: 21px !important;
                                 // display: block !important;
                              }

                              &::before {
                                 top: 0 !important;
                              }

                              &::after {
                                 bottom: 0 !important;
                              }
                           }
                        }

                        a {
                           width: 100% !important;
                           font-size: 14px !important;
                           margin: $margin !important;
                           color: $black-color !important;
                           height: $drawer-group-item-height !important;
                           line-height: $drawer-group-item-height !important;
                        }
                     }
                  }
               }
            }
         }
      }
   }

   .content {
      margin: 0 !important;
      padding: 0 !important;
      border-left: 0 !important;
      transition: none !important;
      background: $white-color !important;

      > div {
         width: 100% !important;
         height: 100% !important;
         transition: none !important;
         user-select: text !important;
         overflow-y: scroll !important;
         overflow-x: hidden !important;
         padding: 40px 100px !important;
      }
   }
}
