@import '~@/assets/styles/vars';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Courses Style
=======================================*/
$toolbar-height: 60px;

main.course-main-content,
main.courses-main-content {
   padding-top: $toolbar-height !important;
}

.courses {
   height: 100% !important;
   overflow: hidden !important;
   position: relative !important;
   background: $white-color !important;

   > .toolbar {
      height: $toolbar-height !important;
      line-height: $toolbar-height !important;

      .toolbar__content {
         height: $toolbar-height !important;
         line-height: $toolbar-height !important;

         .toolbar__title {
            @include responsive-font-size(1rem,true);
         }

         .brand-logo {
            background: $shadow-color !important;
            width: $toolbar-height - 15px !important;
            height: $toolbar-height - 15px !important;

            a {
               width: $toolbar-height - 20px !important;
               height: $toolbar-height - 20px !important;
            }
         }

         .btn {
            color: $primary-color !important;
            width: $toolbar-height - 5px !important;
            height: $toolbar-height - 5px !important;

            .icon {
               font-size: 30px !important;
               font-weight: 500 !important;
            }
         }
      }
   }

   .navigation-drawer {
      overflow: hidden !important;
      background: $white-color !important;

      .toolbar {
         height: auto !important;
         background: $primary-color !important;
         min-height: $toolbar-height !important;
         max-height: $toolbar-height !important;

         .toolbar__content {
            height: auto !important;
            min-height: $toolbar-height !important;
            max-height: $toolbar-height !important;

            .btn {
               width: 35px !important;
               height: 35px !important;

               .icon {
                  font-size: 35px !important;
               }
            }

            .toolbar__title {
               margin-left: 0 !important;
               margin-right: 0 !important;
               font-weight: 700 !important;
               @include responsive-font-size(1rem,true);
            }
         }
      }

      .list {
         max-height: 100% !important;
         overflow-y: scroll !important;

         .stepper {
            box-shadow: none !important;

            .list__group {
               height: 50px !important;
               overflow: hidden !important;

               &.list__group--active {
                  height: auto !important;

                  .list__group__header {
                     box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12) !important;
                  }
               }

               .list__group__header {
                  height: 50px !important;
                  overflow: visible !important;
                  border-bottom: 1px solid $secondary-color !important;

                  .list__tile {
                     padding: 0 !important;
                     height: 100% !important;

                     .stepper__step {
                        width: 100% !important;
                        z-index: 1 !important;
                        height: 50px !important;
                        pointer-events: none !important;

                        .stepper__step__step {}

                        .stepper__label {}
                     }
                  }

                  .list__group__header__append-icon {
                     .icon {}
                  }
               }

               .list__group__items {
                  height: auto !important;
                  padding: 25px 0 !important;

                  &::after,
                  &::before {
                     width: 2px !important;
                     content: "" !important;
                     right: 11px !important;
                     height: 25px !important;
                     background: #000 !important;
                     position: absolute !important;
                  }

                  &::before {
                     top: 0 !important;
                  }

                  &::after {
                     bottom: 0 !important;
                  }

                  .list__tile {
                     padding: 0 !important;
                     height: 50px !important;

                     .list__tile__action {
                        width: 50px !important;
                        min-width: 50px !important;
                        max-width: 50px !important;

                        .icon {
                           width: 25px !important;
                           height: 25px !important;
                           font-size: 20px !important;
                           border-radius: 50% !important;
                           border: 2px dashed #000 !important;

                           &::after,
                           &::before {
                              width: 2px !important;
                              content: "" !important;
                              background: #000 !important;
                              position: absolute !important;
                              height: calc((50px - 25px) / 2) !important;
                           }

                           &::before {
                              top: 0 !important;
                           }

                           &::after {
                              bottom: 0 !important;
                           }
                        }
                     }

                     .btn {
                        width: 100% !important;
                        height: 50px !important;
                        line-height: 50px !important;
                     }
                  }
               }
            }
         }
      }
   }

   .content {
      margin: 0 !important;
      padding: 0 !important;
      border-left: 0 !important;
      transition: none !important;
      background: $white-color !important;

      > div {
         width: 100% !important;
         height: 100% !important;
         transition: none !important;
         user-select: text !important;
         overflow-y: scroll !important;
         overflow-x: hidden !important;
         padding: 40px 100px !important;
      }
   }
}
