@import '~@/assets/styles/vars';
@import '~@/../node_modules/rfs/scss/_rfs';
/*=====================================
Modules Navigation Style
=======================================*/
$padding: 0 0 0 15px;
$ar-padding: 0 15px 0 0;
$stepper-icon-size: 25px;
$stepper-line-width: 2px;
$drawer-group-height: 45px;
$drawer-group-item-height: 40px;
$stepper-group-item-padding: 10px;
$stepper-group-item-fl-padding: 15px;
$drawer-group-height-toggle-icon-padding: 0 0 0 20px;

html[dir='rtl'] {
   .modules-nav {
      .list {
         direction: ltr !important;

         .stepper {
            * {
               direction: rtl !important;
            }

            .list__group {
               .list__group__header {
                  padding: $ar-padding !important;

                  > div:nth-child(1) {
                     .list__tile {
                        .stepper__step {
                           .stepper__label {
                              text-align: right !important;
                              text-shadow: none !important;
                              margin: $workshop-ar-margin !important;
                              width: calc(100% - #{$stepper-icon-size} - #{((getValue($workshop-ar-margin,'left',true) + getValue($workshop-ar-margin,'right',true)) * 2)} - #{$scrollbar-width}) !important;

                              @media (max-width: 480px) {
                                margin: 0 10px 0 0 !important;
                              }
                           }
                        }
                     }
                  }
               }

               .list__group__items {
                  padding: $ar-padding !important;
                  

                  @media (max-width: 480px) {
                    padding: 0 5px 0 0 !important
                  }

                  div {
                     .list__tile {
                        .list__tile__action {
                           .icon {
                              &::after,
                              &::before {
                                 left: 0 !important;
                                 right: ($stepper-icon-size / 2) + $stepper-group-item-padding - ($stepper-line-width / 2) !important;
                              }
                           }
                        }

                        a {
                          margin: $workshop-ar-margin !important;

                          @media (max-width: 480px) {
                            margin: 0 10px 0 0 !important;
                          }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

.modules-nav {
   .list {
      direction: rtl !important;
      overflow: hidden !important;
      background: $white-color !important;
      height: calc(100vh - #{$workshop-header-height}) !important;

      @media (max-width: 960px) {
        height: auto !important;
      }

      .stepper {
         box-shadow: none !important;
         overflow-y: scroll !important;
         overflow-x: hidden !important;
         background: $workshop-drawer-background !important;
         height: calc(100vh - #{$workshop-header-height}) !important;

         @media (max-width: 960px) {
           height: auto !important;
         }

         &::-webkit-scrollbar {
            // width: 5px !important;
            background: $workshop-drawer-background !important;
         }

         * {
            direction: ltr !important;
         }

         .list__group {
            &::after,
            &::before {
               height: 0 !important;
               background: none !important;
            }

            &.active-state {
               .list__group__header {
                  > div:nth-child(1) {
                     .list__tile {
                        .stepper__step {
                           .stepper__step__step {
                              background-color: var(--workshop-active-state) !important;
                           }
                        }
                     }
                  }
               }

               .list__group__items {
                  background: $workshop-drawer-background !important;
                  .list__tile {
                     .list__tile__action {
                        &.topic-complete-state {
                           .icon {
                              color: var(--workshop-complete-state) !important;
                              border-color: var(--workshop-complete-state) !important;

                              &::after {
                                 background: var(--workshop-active-state) !important;
                              }

                              &::before {
                                 background: var(--workshop-complete-state) !important;
                              }
                           }
                        }

                        &.topic-all-complete-state {
                           .icon {
                              color: var(--workshop-complete-state) !important;
                              border-color: var(--workshop-complete-state) !important;

                              &::after,
                              &::before {
                                 background: var(--workshop-complete-state) !important;
                              }
                           }
                        }

                        &.topic-active-state {
                           .icon {
                              color: var(--workshop-active-state) !important;
                              border-color: var(--workshop-active-state) !important;

                              &::before {
                                 background: var(--workshop-active-state) !important;
                              }
                           }
                        }
                     }
                  }
               }
            }

            &.complete-state {
               .list__group__header {
                  > div:nth-child(1) {
                     .list__tile {
                        .stepper__step {
                           .stepper__step__step {
                              background-color: var(--workshop-complete-state) !important;
                           }
                        }
                     }
                  }
               }

               .list__group__items {
                  .list__tile {
                     .list__tile__action {
                        .icon {
                           color: var(--workshop-complete-state) !important;
                           border-color: var(--workshop-complete-state) !important;

                           &::after,
                           &::before {
                              background: var(--workshop-complete-state) !important;
                           }
                        }
                     }
                  }
               }
            }

            .list__group__header {
              border-bottom: 1px solid $secondary-color;
               padding: $padding !important;
               background: $white-color !important;
               height: $drawer-group-height !important;
               box-shadow: 0 3px 3px -2px rgba(0,0,0,.025),0 3px 4px 0 rgba(0,0,0,.025),0 1px 10px 0 rgba(0,0,0,.025) !important;

               &:hover {
                  background: $white-color !important;
               }

               > div:nth-child(1) {
                  padding: 0 $stepper-group-item-padding !important;
                  width: calc(100% - #{$stepper-icon-size} * 2 - ((#{getValue($padding,'left',true)} + #{getValue($padding,'right',true)}) * 2) - ((#{getValue($drawer-group-height-toggle-icon-padding,'left',true)} + #{getValue($drawer-group-height-toggle-icon-padding,'right',true)}) * 2) - #{$scrollbar-width}) !important;
                  
                  @media (max-width: 480px) {
                    padding: 0 0 0 $stepper-group-item-padding !important;
                  }
                  .list__tile {
                     padding: 0 !important;
                     width: 100% !important;
                     height: 100% !important;

                     .stepper__step {
                        padding: 0 !important;
                        z-index: 1 !important;
                        width: 100% !important;
                        pointer-events: none !important;
                        height: $drawer-group-height !important;

                        .stepper__step__step {
                           margin: 0 !important;
                           font-size: 14px !important;
                           @include font-family('number',true);
                           width: $stepper-icon-size !important;
                           height: $stepper-icon-size !important;
                           background-color: var(--workshop-normal-state) !important;
                        }

                        .stepper__label {
                           font-size: 14px !important;
                           text-align: left !important;
                           color: $black-color !important;
                           margin: $workshop-margin !important;
                           width: calc(100% - #{$stepper-icon-size} - #{((getValue($workshop-margin,'left',true) + getValue($workshop-margin,'right',true)) * 2)} - #{$scrollbar-width}) !important;

                           span {
                              width: 100% !important;
                              @include truncate-Text(ellipsis,true);
                           }
                        }
                     }
                  }
               }

               .list__group__header__append-icon {
                  margin: 0 !important;
                  padding: $drawer-group-height-toggle-icon-padding !important;

                  .icon {
                     color: $secondary-color !important;
                     font-size: $stepper-icon-size !important;
                  }
               }
            }

            &:last-of-type {
              .list__group__header {
                border-bottom: unset;
              }
            }

            .list__group__items {
               padding: $padding !important;

               div {
                  &:first-child {
                     .list__tile {
                        height: auto !important;
                        padding-top: $stepper-group-item-fl-padding !important;

                        .list__tile__action {
                           .icon {
                              &::before {
                                 height: ($drawer-group-item-height - $stepper-icon-size) /2 + ($stepper-group-item-fl-padding) !important;
                              }
                           }
                        }
                     }
                  }

                  &:last-child {
                     .list__tile {
                        height: auto !important;
                        padding-bottom: $stepper-group-item-fl-padding !important;

                        .list__tile__action {
                           .icon {
                              &::after {
                                 height: ($drawer-group-item-height - $stepper-icon-size) /2 + ($stepper-group-item-fl-padding) !important;
                              }
                           }
                        }
                     }
                  }

                  .list__tile {
                     height: $drawer-group-item-height !important;
                     padding: 0 $stepper-group-item-padding !important;

                     .list__tile__action {
                        width: $stepper-icon-size !important;
                        min-width: $stepper-icon-size !important;
                        max-width: $stepper-icon-size !important;

                        .icon {
                           border-radius: 50% !important;
                           background: $white-color !important;
                           width: $stepper-icon-size !important;
                           height: $stepper-icon-size !important;
                           color: var(--workshop-normal-state) !important;
                           font-size: $stepper-icon-size / 2 !important;
                           border: 2px dashed var(--workshop-normal-state) !important;

                           &::after,
                           &::before {
                              right: 0 !important;
                              content: "" !important;
                              display: block !important;
                              position: absolute !important;
                              width: $stepper-line-width !important;
                              background: var(--workshop-normal-state) !important;
                              height: ($drawer-group-item-height - $stepper-icon-size) /2 !important;
                              left: ($stepper-icon-size / 2) + $stepper-group-item-padding - ($stepper-line-width / 2) !important;
                           }

                           &::before {
                              top: 0 !important;
                           }

                           &::after {
                              bottom: 0 !important;
                           }
                        }
                     }

                     a {
                        width: 100% !important;
                        font-size: 14px !important;
                        color: $black-color !important;
                        margin: $workshop-margin !important;
                        @include truncate-Text(ellipsis,true);
                        height: $drawer-group-item-height !important;
                        line-height: $drawer-group-item-height !important;
                     }
                  }
               }
            }

            &:last-of-type {
              .list__group__items {
                div:last-of-type .list__tile {
                  .list__tile__action {
                    .icon {
                      &:after {
                        height: 0px !important;
                      } 
                    }
                  }
                }
              }
              
            }
         }
      }
   }
}
