@mixin font-family ($lang) {
   @if($lang='ar') {
      font-family: 'Droid Arabic Kufi';
   } @else {
      font-family: 'Poppins';
   }
}
@mixin responsive-ratio($x,$y, $pseudo: false) {
   $padding: unquote(($y / $x) * 100 + '%');
   @if $pseudo {
      &:before {
         @include pseudo($pos: relative);
         width: 100%;
         padding-top: $padding;
      }
   } @else {
      padding-top: $padding;
   }
}
// @mixin center($position) {
//    position: absolute;
//
//    @if $position == 'vertical' {
//       top: 50%;
//       transform: translateY(-50%);
//    }
//
//    @elseif $position == 'horizontal' {
//       left: 50%;
//       transform: translate(-50%);
//    }
//
//    @elseif $position == 'both' {
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//    }
// }
@mixin center($class) {
   @if($class) {
      .center {
         top: 50% !important;
         left: 50% !important;
         position: absolute !important;
         transform: translate(-50%,-50%) !important;
      }
   } @else {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%,-50%) !important;
   }
}
@mixin border-radius($radius) {
   border-radius: $radius;
   -webkit-border-radius: $radius;
   -moz-border-radius: $radius;
}
@mixin box-shadow($left, $top,$radius ,$spread , $color) {
   box-shadow: $left $top $radius $spread $color;
   -webkit-box-shadow: $left $top $radius $spread $color;
   -moz-box-shadow: $left $top $radius $spread $color;
}
