@mixin pseudo($display: block, $pos: absolute, $content: '') {
   content: $content;
   display: $display;
   position: $pos;
}
@mixin font-family ($lang,$important:false) {
   @if($lang=='ar') {
      font-family: 'Droid Arabic Kufi' short-if($important, !important);
   } @else {
      font-family: 'Poppins' short-if($important, !important);
   }
}
@mixin responsive-ratio($x,$y, $pseudo: false) {
   $padding: unquote(($y / $x) * 100 + '%');
   @if $pseudo {
      &:before {
         @include pseudo($pos: relative);
         width: 100%;
         padding-top: $padding;
      }
   } @else {
      padding-top: $padding;
   }
}
// @mixin center($position) {
//    position: absolute;
//
//    @if $position == 'vertical' {
//       top: 50%;
//       transform: translateY(-50%);
//    }
//
//    @elseif $position == 'horizontal' {
//       left: 50%;
//       transform: translate(-50%);
//    }
//
//    @elseif $position == 'both' {
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//    }
// }
@mixin center($class) {
   @if($class) {
      .center {
         top: 50% !important;
         left: 50% !important;
         position: absolute !important;
         transform: translate(-50%,-50%) !important;
      }
   } @else {
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%,-50%) !important;
   }
}
@mixin border-radius($radius,$important:false) {
   border-radius: $radius short-if($important,!important);
   -moz-border-radius: $radius short-if($important,!important);
   -webkit-border-radius: $radius short-if($important,!important);
}
@mixin box-shadow($left, $top,$radius ,$spread , $color,$important:false) {
   box-shadow: $left $top $radius $spread $color short-if($important,!important);
   -moz-box-shadow: $left $top $radius $spread $color short-if($important,!important);
   -webkit-box-shadow: $left $top $radius $spread $color short-if($important,!important);
}
